  svg {
    width: 100%;
    height: 100%;
  }
  
  .bar {
    fill: #6f7eb8;
  }
  
  text {
    font-size: 12px;
    fill: #666666;
  }
  
  line {
    stroke: gray;
  }

  line#limit {
    stroke: #EF4A60;
    stroke-width: 1;
    stroke-dasharray: 3 3;
  }

  .grid path {
    stroke-width: 0;
  }
  
  .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
  }

  text.divergence {
    font-size: 12px;
    fill: #FFFFFF;
  }
  
  text.title {
    font-size: 18px;
    font-weight: 600;
    fill: #2b2e31
  }

  text.value {
    font-size: 14px;
    font-weight: 400;
    fill: #FFFFFF
  }
  
  text.label {
    font-size: 12px;
    font-weight: 400;
    fill: #999999;
  }
  
  text.source {
    font-size: 10px;
    fill: #999999;
    font-style: italic;
  }
  text.note {
    font-size: 10px;
  }

  .tooltip {
    position: absolute;
    opacity: 0;
    background: white;
    color: black;
    border-radius: 5px;
    border-color: #666666;
    padding: 5px;
    text-align: left;
    box-shadow: 0px 0px 5px 0px #999999;

  }

  .counties {
    fill: none;
  }

  .boundaries {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.5;
    stroke-linejoin: round;
  }

  .legendThreshold {
    font-size: 11px;
    fill: #666666
  }
